@charset "UTF-8";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #b7df62;
}

main {
    min-width: 300px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0005;
    background-color: snow;
}

main h1 {
    color: #318C07;
    text-align: center;
    text-shadow: 0px 0px 1px #0005;
}

main h2 {
    color: #C0D904;
    text-shadow: 0 0 1px #0004;
    margin: 20px 0 15px;
}

main p {
    color: #72A603;
    text-align: justify;
}

main li {
    position: relative;
    left: -40px;
    list-style: none;
}

main li::before {
    content: "\2197\00A0\00A0";
}

main a {
    font-weight: bold;
    color: #72A603;
    text-decoration: none;
}

main a:hover {
    color: #c0d904;
    text-decoration: underline 2px;
    transition: 0.2s;
}

/*link para retornar ao github.io*/
#return {
    margin: 20px 0 0;
}